* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}
body {
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    padding: 10px; 
    background-color: #312f2f23;
    width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.about {
    padding: 10px;
    margin: 10px;
}
.container .about img {
    border-radius: 50%;
    width: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.container .about h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.container .about h3 {
    color: #aacc00;
    text-align: center;
    margin-bottom: 35px;
    font-size: 15px;
}
.container .about p {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.container .about button {
    display: block;
    background-color: #33323288;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.5s;
}
.container .about button:hover {
    background-color: #aacc00;
    color: #212529;
    cursor: pointer;
}
